In [200]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import numpy as np
import pandas as pd

In [201]:
data=pd.read_csv("C:\\Users\\Naman\\Desktop\\MLCN\\Natural Language Processing 2\\0000000000002747_training_twitter_x_y_train.csv")

In [202]:
data.isnull().sum()
cl=data.columns

In [203]:
cl

Index(['tweet_id', 'airline_sentiment', 'airline', 'airline_sentiment_gold',
       'name', 'negativereason_gold', 'retweet_count', 'text', 'tweet_coord',
       'tweet_created', 'tweet_location', 'user_timezone'],
      dtype='object')

In [204]:
df=pd.DataFrame(data)

In [205]:
df

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

In [206]:
df.drop('airline' ,axis=1 ,  inplace=True)

In [207]:
df.head()
df.drop('airline_sentiment_gold' ,axis=1 ,  inplace=True)
df.drop('name' ,axis=1 ,  inplace=True)

In [208]:
df.head()
cl=df.columns

In [209]:
for i in range(0 , len(cl)):
    if cl[i]=="airline_sentiment" or cl[i]=="text":
        continue
    else:
        df.drop(cl[i] , axis=1 , inplace=True)

In [210]:
df.head()
df=df[["text" , "airline_sentiment"]]

In [211]:
df.head()

                                                text airline_sentiment
0  @SouthwestAir I am scheduled for the morning, ...          negative
1  @SouthwestAir seeing your workers time in and ...          positive
2  @united Flew ORD to Miami and back and  had gr...          positive
3     @SouthwestAir @dultch97 that's horse radish üò§üê¥          negative
4  @united so our flight into ORD was delayed bec...          negative

In [212]:
new_data=df.values

In [213]:
text_data=new_data[: , 0]

In [214]:
reviews=new_data[: , 1]

# cleaning the data

In [215]:
all_text_and_categories=[]
for x in new_data:
    all_text_and_categories.append((word_tokenize(x[0]) , x[1]))
    
import random
random.shuffle(all_text_and_categories)

In [216]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet
lemmatizer=WordNetLemmatizer()
stops=set(stopwords.words("english"))
import string
punctuations=set(string.punctuation)
stops.update(punctuations)

In [217]:
def get_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
    
def clean_words(words):
    output_words=[]
    for w in words:
        if w.lower() not in stops:
            pos=pos_tag([w])
            clean_word=lemmatizer.lemmatize(w , pos=get_pos(pos[0][1]))
            output_words.append(clean_word.lower())
    return output_words

In [218]:
documents=[(clean_words(words) , category) for words , category in all_text_and_categories ]

In [219]:
categories=[category for document , category in documents]

In [220]:
text_documents=[" ".join(document) for document , category in documents]

In [221]:
len(text_documents) , len(categories)

(10980, 10980)

In [222]:
from sklearn.feature_extraction.text import CountVectorizer

In [223]:
CV=CountVectorizer(max_features=3000)

In [224]:
X_train_features=CV.fit_transform(text_documents)

In [225]:
X_train_features.todense

<bound method spmatrix.todense of <10980x3000 sparse matrix of type '<class 'numpy.int64'>'
	with 99790 stored elements in Compressed Sparse Row format>>

In [226]:
from sklearn.svm import SVC

In [227]:
svc=SVC()

In [228]:
svc.fit(X_train_features , categories)

C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [229]:
svc.score(X_train_features , categories)

0.6239526411657559

In [230]:
from sklearn.naive_bayes import MultinomialNB

In [231]:
mn=MultinomialNB()

In [232]:
mn.fit(X_train_features , categories)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [233]:
mn.score(X_train_features , categories)

0.8224954462659381

In [234]:
from sklearn.ensemble import RandomForestClassifier

In [235]:
rf=RandomForestClassifier()

In [236]:
rf.fit(X_train_features , categories)

C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [237]:
rf.score(X_train_features , categories)

0.9804189435336976

# loading and cleaning testing data

In [238]:
test_data=pd.read_csv("C:\\Users\\Naman\\Desktop\\MLCN\\Natural Language Processing 2\\0000000000002747_test_twitter_x_test.csv")

In [239]:
test_data

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...
3655,570304244001193984,US Airways,NaN,Anthony_Scerri,NaN,0,@USAirways Been stuck for 40+ minutes due to l...,NaN,2015-02-24 11:28:22 -0800,"Astoria, NY",Quito
3656,567847737061941249,US Airways,NaN,mttdprkr,NaN,0,@USAirways 4 hours... 4 hours... FOUR HOURS. ...,NaN,2015-02-17 16:47:05 -0800,"Vancouver, WA",Pacific Time (US & Canada)
3657,567823564167192576,Virgin America,NaN,miaerolinea,NaN,1,Nice RT @VirginAmerica: The man of steel might...,NaN,2015-02-17 15:11:02 -0800,Worldwide,Caracas
3658,570273819287531520,American,NaN,GoldensPleasure,NaN,0,@AmericanAir Aww Thanks AA..DFW was on GMA up ...,NaN,2015-02-24 09:27:28 -0800,East Coast CT.,Central Time (US & Canada)
3659,569341769114128386,United,NaN,suntoshi,NaN,0,@united the lounge tells us they have no pillo...,NaN,2015-02-21 19:43:50 -0800,"Bedford, Nh",Eastern Time (US & Canada)

In [240]:
df=test_data["text"]

In [241]:
test_array=df.values
len(test_array)

3660

In [242]:
for i in range(0 , len(test_array)):
    test_array[i]=word_tokenize(test_array[i])

In [243]:
new_test_array=[clean_words(text) for text in test_array]

In [244]:
len(new_test_array)

3660

In [245]:
X_test_array=[" ".join(d) for d in new_test_array]

In [246]:
X_test_features=CV.transform(X_test_array)

In [247]:
Y_pred=rf.predict(X_test_features)

In [248]:
Y_pred

array(['negative', 'negative', 'negative', ..., 'neutral', 'positive',
       'negative'], dtype='<U8')

In [250]:
np.savetxt("Y_pred_twitter.csv" , Y_pred  , fmt="%s" , header='')